
<div class="container mt-3">

  <div class="row row mt-3 justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Buscar Inscrito..." [(ngModel)]="searchText" placeholder="Buscar Inscrito...">
        <div class="input-group-btn">
          <label for="exampleFormControlSelect1">Filtro</label>
          <select class="form-control" id="exampleFormControlSelect1" (change)="cambiarFiltro()">
            <option>Código</option>
            <option>Nombre</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- Lista de Inscritos -->
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-sm-8">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let inscrito of inscritos | filter : searchText : filtro;">
          {{ inscrito.nombre }}
          <button type="button" class="btn btn-primary float-right btn-sm" (click)="acreditar($event,inscrito)">Acreditar</button>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row justify-content-center" *ngIf="inscritos?.length < 1">
    <div class="alert alert-warning col-12 col-sm-8" role="alert">
       No se encontraron resultados...
    </div>
  </div>
</div>